@import '../components/button.scss';

body {
  background-color: #fbfbfb;
}

.login__container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  margin: 0 auto;
  padding: 32px 20px 42px;
  border: 1px solid #e1e1e1;
  background: #fff;

  & > .header {
    text-align: center;
    font-size: $semi-large--font;
    font-weight: $semi-bold--font-weight;
  }

  & > .content {
    display: flex;
    flex-direction: column;

    & > input {
      width: 100%;
      height: 100%;
      padding: 16px 14px;
      color: #999;
      border: 1px solid #e1e1e1;
      border-radius: 2px;
      background: #fbfbfb;
      line-height: 1.34;
      cursor: text;
      margin: 15px 0 0 0;

      &:focus {
        outline: none;
        color: #434444;
        background: #f3fdfa;
        border-color: $bright-green--color;
      }
    }
  }

  & > .footer > .signin {
    @extend %button;

    width: 100%;
    padding: 16px;
    border-radius: 2px;
    margin-top: 24px;
  }
}
