// ---- Color ----
$green--color: #04c584;
$white--color: #ffffff;
$bright-green--color: #10df99;
$dark-green--color: #2f8a6b;
$blue--color: #0099ff;

// ---- font ----
$small--font: 12px;
$semi-small--font: 14px;
$regular--font: 16px;
$semi-large--font: 20px;
$large--font: 24px;

// ---- font-weight ----
$regular--font-weight: 500;
$semi-bold--font-weight: 700;
$bold--font-weight: 900;
